.u-section-1 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-line-1 {
  margin-top: -7px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-list-1 {
  width: 840px;
  margin: 15px auto 0 137px;
}

.u-section-1 .u-repeater-1 {
  min-height: 41px;
  grid-template-columns: calc(33.3333% - 153.333px) calc(33.3333% - 153.333px) calc(33.3333% - 153.333px);
  grid-gap: 230px 230px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 -92px 0 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-text-3 {
  margin: 0 -92px 0 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 -92px 0 10px;
}

.u-section-1 .u-accordion-1 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 279px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px 0;
}

.u-section-1 .u-text-5 {
  margin: 0 867px 0 0;
}

.u-section-1 .u-text-6 {
  margin: -258px 413px 0 453px;
}

.u-section-1 .u-image-1 {
  width: 203px;
  height: 121px;
  margin: -100px 40px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 28px 30px 0 837px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 279px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-text-8 {
  margin: 0 867px 0 0;
}

.u-section-1 .u-text-9 {
  margin: -258px 413px 0 453px;
}

.u-section-1 .u-image-2 {
  width: 203px;
  height: 121px;
  margin: -100px 40px 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 28px 30px 0 837px;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 279px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-text-11 {
  margin: 0 867px 0 0;
}

.u-section-1 .u-text-12 {
  margin: -258px 413px 0 453px;
}

.u-section-1 .u-image-3 {
  width: 203px;
  height: 121px;
  margin: -100px 40px 0 auto;
}

.u-section-1 .u-text-13 {
  margin: 28px 30px 0 837px;
}

.u-section-1 .u-text-14 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: -26px auto 60px 0;
  padding: 9px 6px 11px 5px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 667px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 313px;
    margin-left: 353px;
  }

  .u-section-1 .u-image-1 {
    height: 120px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 667px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 667px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 313px;
    margin-left: 353px;
  }

  .u-section-1 .u-image-2 {
    height: 120px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 667px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 667px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 313px;
    margin-left: 353px;
  }

  .u-section-1 .u-image-3 {
    height: 120px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 667px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 105px;
    grid-template-columns: calc(50% - 115px) calc(50% - 115px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 447px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 203px;
    margin-left: 243px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 447px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 203px;
    margin-left: 243px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 447px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 203px;
    margin-left: 243px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 447px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 307px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 133px;
    margin-left: 173px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 307px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 307px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 133px;
    margin-left: 173px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 307px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 307px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 133px;
    margin-left: 173px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 307px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 33px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 33px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 33px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 107px;
  }
}