 .u-section-1 {
  background-image: url("images/Qatar-2022-1920-1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 702px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 417px;
  min-height: 328px;
  height: auto;
  margin: 90px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-line-1 {
  position: relative;
  transform-origin: left center 0;
  height: 7px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px 20px 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 9px 21px 0 346px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: -25px 71px 0 20px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 10px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-group-1 {
    width: 402px;
    position: relative;
    height: auto;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -41px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 308px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 28px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 32.39% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 288px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 50px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -67px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 49px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -66px;
    margin-right: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 251px;
    margin-left: 0;
    margin-right: 0;
  }
}